<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLinkActive="active" routerLink="/marvel">Marvel</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/dc">Dc</a>
                </li>
            </ul>
        </nav>
    </div>
<div class="container">
    <h2>DC comic movies</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Movie name</th>
        <th>Director name</th>
        <th>Collections</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Justice League</td>
        <td>snyder</td>
        <td>70million</td>
        <td>3.75</td>
      </tr>      
      <tr class="success">
        <td>aquaman</td>
        <td>james gunn</td>
        <td>55 million</td>
        <td>4</td>
      </tr>
      <tr class="danger">
        <td>shazam</td>
        <td>David Sandberg</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

