<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLinkActive="active" routerLink="/marvel">Marvel</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/dc">Dc</a>
                </li>
            </ul>
        </nav>
    </div>
    

<div class="container">
    <h2>Marvel movies</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Movie name</th>
        <th>Director name</th>
        <th>Collections</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>avengers:infinity war</td>
        <td>Russo Brothers</td>
        <td>100millions</td>
        <td>5</td>
      </tr>      
      <tr class="success">
        <td>Avengers:End Game</td>
        <td>Russo brothers</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr class="danger">
        <td>Antman and the wasp</td>
        <td>peyton reed</td>
        <td>40millions</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

